<% @posts.each do |post| %>
<article class = "post">
<h2><%= link_to post.title, post %></h2>
<%= image_tag post.image_url.to_s, class: "img-fluid" %>
<p><%= simple_format(post.content) %></p>
<% if session[:admin] then %>
  <%= link_to edit_post_path(post) do %>Edit<% end %>
<% end %>
<hr>
</article>
<% end %>
